{
	"appKey": "your-api-key",
	"appSecret": "your-api-secret",
	"server": "https://platform.ringcentral.com",
	"username": "123456789012",
	"extension": "301",
	"password": "your-password",
	"helpscout": "help-scout-key"
}